@import url('https://fonts.googleapis.com/css?family=Nunito:600');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* overwrite default margin for banner */
body {
	margin: 0px;
}

/* base style */
main {
	margin: 0 auto;
	max-width: 50em;
	align-content: center;
}

body {
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

main h2 {
	margin: 1em 1em;
	padding-top: 1em;
	font-size: 2em;
}


/* lighter font color */
h1,
h2 {
	color: #333;
}

body {
	color: #555;
}

/* box around paragraphs */
h3 {
  font-size: 1em;
}
.box,
p, h3, h4 {
	background: #eee;
	margin: 1em;
}

.box {
	padding: 1px 20px;
	vertical-align: text-bottom;
	border-radius: 20px;
}

.box ul {
	margin-top: 0px;
}

p {
	padding: 2px;
}


/* header styling */
header {
	/*background-color: black;*/
	font-family: 'Nunito', sans-serif;
	background-image: url("img/banner.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	line-height: 1.2;
	padding: 10vw 2em 1vw;
	text-align: center;
	position: relative;
	overflow: hidden;
}

/* header name styling */
header h1 {
	color: white;
	font-size: 3em;
	font-weight: 300;
  	-webkit-text-stroke-width: 0.0125em;
	-webkit-text-stroke-color: black;
	text-shadow:
		3px 3px 0 #000,
		0px 0px 0 #000,  
		0px 0px 0 #000,
		0px 0px 0 #000,
		0px 0px 0 #000;
	margin: 0px;
}

/* button drop shadows*/
#buttons {
	-webkit-filter: 
		drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.75))
		drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
        drop-shadow(-1px -1px 0 rgba(0, 0, 0, 0.5));
        opacity(1);
	filter: 
		drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.75))
		drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5)) 
      	drop-shadow(-1px -1px 0 rgba(0, 0, 0 0.5));
      	opacity(1);
}

/* button images */
#linkedin {
	background: url("img/buttons/linkedin.png") no-repeat;	
}
#github {
	background: url("img/buttons/github.png") no-repeat;
}
/* button sizing */
#linkedin, #github {
	display: inline-block;
 	width: 32px;
 	height: 32px;
	background-size: 100%;
	margin-right: 0.25em;
	margin-left: 0.25em;
	margin-top: 0.5em;
}

/* darken the buttons when you hover */
#linkedin, #github {
	opacity: 1;
	transition-property: opacity;
    transition-duration: 0.3s;
}
#linkedin:hover, #github:hover {
	opacity: 0.8;
}

/* stroke + color on subheading */
header #software-engineer {
	font-size: 2em;
	color: #e8e8e8;
	-webkit-text-stroke-width: 0.0125em;
	-webkit-text-stroke-color: black;
	text-shadow:
		2px 2px 0 #000,
		0px 0px 0 #000,  
		0px 0px 0 #000,
		0px 0px 0 #000,
		0px 0px 0 #000;
}

/* blue font GDMS */
#blue {
	color: #224d91;
}
#black {
	color: #950000;
}
